{% set librenms = salt['pillar.get']('librenms', {
     'lookup': salt['grains.filter_by']({
        'Debian': {
            'pkgs': [
                'fping',
                'git',
                'graphviz',
                'imagemagick',
                'mtr-tiny',
                'nmap',
                'python-mysqldb',
                'rrdtool',
                'snmp',
                'whois',
            ],
            'webserver_user': 'www-data',
            'webserver_group': 'www-data',
            'nologin_shell': '/bin/false',
        },
        'RedHat': {
            'pkgs': [
                'rrdtool',
                'fping',
                'git',
                'mtr',
                'nmap',
                'jwhois',
                'graphviz',
                'graphviz-php',
                'ImageMagick',
                'MySQL-python',
                'cronie'
            ],
            'webserver_user': 'apache',
            'webserver_group': 'apache',
            'nologin_shell': '/bin/false',
        },
        'FreeBSD': {
            'pkgs': [
                'fping',
                'git',
                'graphviz',
                'ImageMagick-nox11',
                'mtr-nox11',
                'nmap',
                'py27-MySQLdb',
                'rrdtool',
                'whois',
            ],
            'webserver_user': 'www',
            'webserver_group': 'www',
            'nologin_shell': '/usr/sbin/nologin',
        },
    }),
    'general': {
        'user': 'librenms',
        'group': 'librenms',
        'home': '/opt/librenms',
    },
    'config': {
        'db': {
            'extension': 'mysqli',
            'host': 'localhost',
            'user': 'librenms',
            'database': 'librenms'
        },
        'memcached': {
            'enable': 'FALSE;',
            'host': 'localhost;',
            'port': '11211;'
        },
        'snmp_community': 'public',
        'auth_mechanism': 'mysql',
        'poller_wrapper': 'FALSE',
    },
}, merge=True) %}
